name: Main
on:
  push:
    branches:
      - '**'
    tags:
      - '**'
  pull_request:
    branches:
      - '**'
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    env:
      # COFIDE: Override container image repository
      DOCKER_REPOSITORY_PREFIX: cofide/spire-tpm-plugin
    steps:

    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Go
      uses: actions/setup-go@v2

    - name: Print Go Version
      run: go version

    - name: Build
      run: |
        ./ci/build.sh

    - name: Test plugin
      run: |
        ./ci/test.sh plugin

    - name: Test tools
      run: |
        ./ci/test.sh tools

    - name: Compute Tag
      if: |
        github.event_name == 'push'
          && startsWith(github.event.ref, 'refs/tags/')
      id: compute_tag
      run: |
        tag=${GITHUB_REF#refs/tags/}
        if [ "$tag" != "$GITHUB_REF" ]; then
          tag=$(echo "$tag" | sed -e 's/[^a-zA-Z0-9\-\.]/-/g')
          echo ::set-output name=TAG::${tag}
        else
          echo "unable to determine tag" >&2
          exit 1
        fi

    - name: Set up Buildx
      if: |
        github.event_name == 'push'
          && startsWith(github.event.ref, 'refs/tags/')
      uses: docker/setup-buildx-action@v1
      id: buildx
      with:
        version: v0.5.1
        driver: docker-container
        install: true
        buildkitd-flags: --debug

    - name: Login to Docker HUB
      if: |
        github.event_name == 'push'
          && startsWith(github.event.ref, 'refs/tags/')
      uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Docker Release
      if: |
        github.event_name == 'push'
          && startsWith(github.event.ref, 'refs/tags/')
      run: |
        ./ci/docker.sh "${{ steps.compute_tag.outputs.TAG }}"

    - name: Release
      if: |
        github.event_name == 'push'
          && startsWith(github.event.ref, 'refs/tags/')
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        ./ci/release.sh "${{ steps.compute_tag.outputs.TAG }}"
        gh release create "${GITHUB_REF#refs/tags/}" ./releases/* --title "${GITHUB_REF#refs/tags/}"

